

/*! Hide the scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/*!  hide scrollbar track */
::-webkit-scrollbar-track {
  display: none;
}

:root {
  --theme: rgb(71, 74, 108); 
 
}

.gradient-background {
  background: var(--theme);
  background: linear-gradient(0deg, var(--theme) 0%, var(--theme) 40%, rgba(231, 255, 251, 1) 100%);
}






/*! cards */

.background-image {
  
  /* background-image: url('./assets/photo3.jpg');  */
  /* 1920x1280 */
  filter: blur(7px);
}

.viewport0:hover .background-image {
  animation: moveImage 5s linear infinite; /* Add a looping animation */
}

@keyframes moveImage {
  0% {
    background-position: 50% 0;
  }
  25% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 0;
  }
  75% {
    background-position: 100% 0;
  }
  100% {
    background-position: 50% 0;
  }
}
.viewport1:hover .background-image {
  animation: zoomImage 5s linear infinite;
}

@keyframes zoomImage {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.);
  }
}


.viewport2:hover .background-image {
  animation: moveImage 5s linear infinite; /* Add a looping animation */
}

@keyframes moveImage {
  0% {
    background-position: 50% 0;
  }
  25% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 0;
  }
  75% {
    background-position: 100% 0;
  }
  100% {
    background-position: 50% 0;
  }
}

.viewport3:hover .background-image {
  animation: zoomImage 5s linear infinite;
}

/* @keyframes zoomImage {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
} */


